$primary-color : linear-gradient(to bottom right, #674AAD, #911057);

.board-user {
  background: linear-gradient(to left, rgb(45, 38, 74), rgb(32, 32, 36));
  width: 80%;
  height: 100px;

  p {
    cursor: pointer;
    padding: 3px;
    margin: 10px;
    height: 50px;
    transition: all 0.1s ease-in-out;

    &:hover {
      transition: all 0.1s ease-in;
      padding: 5px;
      background: -webkit-linear-gradient(top left, #674AAD, #A988EF);
      background: -moz-linear-gradient(top left, #674AAD, #A988EF);
      background: $primary-color;
      border-bottom: solid 1px;
    }
  }
}

.selected-board {
  background: -webkit-linear-gradient(top left, #674AAD, #A988EF);
  background: -moz-linear-gradient(top left, #674AAD, #A988EF);
  background: $primary-color;
  border-bottom: solid 1px;

}

.dashboard {
  max-width: 80%;

}

.containers-board {
  width: 50%;
  background: linear-gradient(to right, rgb(45, 38, 74), rgb(32, 32, 36));
  height: 300px;
}

.card {
  width: 25%;
  height: 150px;
  background: linear-gradient(to right, rgb(45, 38, 74), rgb(32, 32, 36));
  cursor: pointer;
  &:hover {
    background: $primary-color;
    font-weight: 700;
  }
}

@media only screen and (max-width: 600px) {
  .dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .containers-board {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}

.welcome {
  h1 {
    font-size: 32px;
    font-weight: 700;
    color: white;
  }
  h4 {
    font-size: 25px;
    color: white;
  }
}

.view-btn {
    background: -webkit-linear-gradient(top left, #674AAD, #A988EF); 
    background: -moz-linear-gradient(top left, #674AAD, #A988EF); 
    background: $primary-color;
    border-radius: 3%;
    padding: 9px;
    color: white;
    transition: all 0.3s;
    &:hover {
      background: linear-gradient(to right, rgb(45, 38, 74), rgb(32, 32, 36));
      padding: 11px;
      transition: all 0.2s ease-in;
    }
  }

  .movies {
    width: 80%;
    background: linear-gradient(to right, rgb(45, 38, 74), rgb(32, 32, 36));
  }

  .movie-form {
    margin-bottom: 10px;
    input {
      padding: 5px;
      border-radius: 3px;
      text-align: center;
    }

    select {
      padding: 5px;
      width: 220px;
      border-radius: 3px;
      text-align: center;
    }
    .area {
      min-width: 455px;
      text-area {
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }
  }


  $primary-color : linear-gradient(to bottom right, #674AAD, #911057);

  .movie-btn { 
    background: -webkit-linear-gradient(top left, #674AAD, #A988EF); 
    background: -moz-linear-gradient(top left, #674AAD, #A988EF); 
    background: $primary-color;
    border-radius: 3%;
    padding: 9px;
    color: white;
    transition: all 0.3s;
    &:hover {
      padding: 12px;
    }
  }
  
  .festival-create {
    width: 80%;
    background: linear-gradient(to right, rgb(45, 38, 74), rgb(32, 32, 36));
  }

  .ranking-create {
    width: 80%;
    background: linear-gradient(to right, rgb(45, 38, 74), rgb(32, 32, 36));
  }